.search {
    display: flex;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
}

input {
    font-size: 20px;
    outline: none;
    width: 400px;
    padding: 10px;
    /* margin: 20px 150px; */
    border-radius: 10px;
    /* margin-right: 20px; */
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid blue;
}

button {
    /* margin-left: -149px; */
    /* margin-top: 20px; */
    font-size: 20px;
    height: 46px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}